<div class="header bg-gradient-info py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <h4 class="text-lead text-white">Staff Portal by UPTS/PMSS.</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="container px-4" style="margin-top: 15px;">
          <a class="navbar-brand"  routerLinkActive="active" [routerLink]="['/login']">
            <img style="width: 100%" src="assets/brand/logo1.jpg" />
          </a>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h3>Sign In</h3>
          </div>
          <form ngNativeValidate #form role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input class="form-control" placeholder="Username" type="text"
                [(ngModel)]="username" [ngModelOptions]="{standalone: true}" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required class="form-control"
                placeholder="Enter Password" (keydown.enter)="onPasswordKeyDown($event)" type="password">
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <label class="text-red">{{errorMessage}}</label>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" (click)="form.checkValidity()? login() : error()">Sign in</button>
            </div>
          </form>
          <div class="text-center">
            <button type="button" class="btn btn-sm btn-warning" (click)="resetpassword()">Reset Password</button>
          </div>
        </div>
      </div>
      <!-- <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:void(0)" class="text-light"><small>Create new account</small></a>
        </div>
      </div> -->
    </div>
  </div>
</div>
