th, td {background: #ffffff; padding: 10px}
//#f7fafc;
@media screen and (max-width: 600px) {
  table[mobileTable] {
    width: 100%;
  }

  table[mobileTable] thead {
    display: none;
  }

  table[mobileTable] tr {
    border: solid #000000;
    display: block;
    background-color: #f7fafc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  table[mobileTable] tr:hover  {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  table[mobileTable] td {
    border-bottom: 1px solid #eee;
  }

  table[mobileTable] tr {
    margin-bottom: 8px;
  }

  table[mobileTable] td {
    display: flex;
  }
  
  table[mobileTable] td::before {
    content: attr(label);
    //font-weight: bold;
    width: 120px;
    min-width: 120px;
  }
}

.label {
  color: #525f7f;
    font-size: 0.875rem;
    font-weight: 600;
}

.dropdown {
  position: relative;
  width: 100%; /* Adjust width as needed */
}

.dropdown-list {
  position: absolute;
  background: #f7fafc;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 200px; /* Limit height */
  overflow-y: auto; /* Scroll if needed */
  z-index: 1000; /* Ensure it is above other content */
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  border-bottom: 1px solid #e0e0e0; /* Add separator line */
}

.dropdown-item:hover {
  background-color: #f1f1f1; /* Change background color on hover */
}
.is-invalid {
  border: 1px solid red;
  background-color: #ffe6e6;
}
.file-name {
  max-width: 200px;           /* Prevents breaking layout */
  white-space: nowrap;        /* Keeps text on one line */
  overflow: hidden;           /* Hides overflow text */
  text-overflow: ellipsis;    /* Adds "..." for long filenames */
}

