<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px;">
  <!-- Mask -->
  <!--background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;-->
  <span class="mask bg-gradient-info opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
      <div class="col-lg-7 col-md-10">
        <div class="row">
          <div class="col-3">
            <a class="text-white" (click)="backtoMenu()" title="Back To Menu" style="cursor: pointer;"><i
              class="fas fa-backward"></i><b> Back</b></a>
          </div>
          <div class="col-6">
            <h3 class="text-white" style="text-align: center;">Balance Details</h3>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 class="mb-0" style="text-align: center;">Balance Amount Till Today</h3>
            </div>
            <!-- <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div> -->
          </div>
        </div>
        <div class="card-body">
          <div class="card bg-red">
            <div class="col-12">
              <h3 class="mb-0" style="text-align: left; color: white;">Balance</h3>
            </div>
            <div class="col-12">
              <h3 class="mb-0" style="text-align: right; color: white;">&#8377;{{empbalamt}}</h3>
            </div>
              <!-- <h3 class="text-white" style="text-align: right;">&#8377;10000</h3> -->
        </div>
      <br/>
        <div class="card bg-primary">
          <div class="col-12">
            <h3 class="mb-0" style="text-align: left; color: white;">Gratuity</h3>
          </div>
          <div class="col-12">
            <h3 class="mb-0" style="text-align: right; color: white;">&#8377;{{empgratuity}}</h3>
          </div>
            <!-- <h3 class="text-white" style="text-align: right;">&#8377;10000</h3> -->
      </div>
    <br/>
      <div class="card bg-info">
        <div class="col-12">
          <h3 class="mb-0" style="text-align: left; color: white;">Bonus</h3>
        </div>
        <div class="col-12">
          <h3 class="mb-0" style="text-align: right; color: white;">&#8377;{{empbonus}}</h3>
        </div>
          <!-- <h3 class="text-white" style="text-align: right;">&#8377;10000</h3> -->
    </div>
    <br/>

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
      <div class="card bg-gradient-primary shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-white ls-1 mb-1">Request Balance</h6>
              <h2 class="text-white mb-0"></h2>
            </div>
          </div>
        </div>
        <div class="card-body bg-secondary">
          <div class="">
            <label class="text-dark" for="input-balance">Amount</label>
            <input [(ngModel)]="balanceamt" type="number" id="input-balance" class="" placeholder="Add Balance" >
            <div class="text-center">
              <button title="add-balance" class="btn btn-success my-4" ng-model="submit" (click)="addbalance()">
                Submit</button>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <br/>
          <div class="text-center border-0 pt-md-4 pb-0 pb-md-4">
            <h5>Last 3 Requests Raised</h5>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="text-dark"><b>Date</b></th>
                  <th scope="col" class="text-dark"><b>Amount</b></th>
                  <th scope="col" class="text-dark"><b>Status</b></th>
                  <th scope="col" class="text-dark"><b>Action</b></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bal of lastbalrequests">
                  <td class="text-center">
                    <label class="text-dark"  for="">{{bal.createdAt | date: "dd-MM-yyyy"}}</label>
                  </td>
                  <td class="text-center">
                    <label class="text-dark" for="">{{bal.Amount}}</label>
                  </td>
                  <td class="text-center" style="font-weight: 800;" [ngClass]="{'text-success': bal.Status === 'Completed', 'text-warning' : bal.Status === 'Submitted', 'text-danger' : bal.Status === 'Rejected'}">
                    <label for="">{{bal.Status}}</label>
                  </td>
                  <td class="text-center">
                    <!-- Show button only if Status is "Submitted" -->
                    <button *ngIf="bal.Status === 'Submitted'" 
                            class="btn btn-whatsapp btn-icon-only btn-sm text-success"
                            (click)="redirectToWhatsApp(bal)">
                            <i class="fab fa-whatsapp" style="font-size:25px"></i>
                    </button>
                    <span *ngIf="bal.Status === 'Completed'" class="text-success">
                      ✔
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</div>
