<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col" (click)="projects()" style="cursor: pointer;">
                  <h5 class="card-title text-uppercase text-muted mb-0">Projects</h5>
                  <span class="h2 font-weight-bold mb-0">{{numofprojects}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-primary font-weight-bold mr-2"><i class="fa fa-arrow-up"></i>&nbsp;&nbsp;{{progresscount }} </span>
                <span class="text-nowrap font-weight-bold text-dark">- Projects Inprogress</span>
              </p>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger font-weight-bold mr-2"><i class="fa fa-arrow-down"></i>&nbsp;&nbsp;{{completedcount }} </span>
                <span class="text-nowrap font-weight-bold text-dark">- Projects Completed</span>
              </p>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-info font-weight-bold mr-2"><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;{{statecount }} </span>
                <span class="text-nowrap font-weight-bold text-dark">- States across India</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col" (click)="employees()" style="cursor: pointer;">
                  <h5 class="card-title text-uppercase text-muted mb-0">Employees</h5>
                  <span class="h2 font-weight-bold mb-0">{{numofemployees}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-primary font-weight-bold mr-2"><i class="fa fa-arrow-up"></i>&nbsp;&nbsp;{{ tbalance }}</span>
                <span class="text-nowrap font-weight-bold text-dark">  Balance Credited</span>
              </p>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning font-weight-bold mr-2"><i class="fa fa-arrow-down"></i>&nbsp;&nbsp;{{ texpense }}</span>
                <span class="text-nowrap font-weight-bold text-dark">  Expense Raised</span>
              </p>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger font-weight-bold mr-2"><i class="fa fa-clock"></i>&nbsp;&nbsp;{{ reqcount }}</span>
                <span class="text-nowrap font-weight-bold text-dark"> Pending Requests</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <div class="mt-3 mb-0 text-muted text-sm">
                    <div class="form-group">
                      <label class="form-control-label" for="input-createdby">Date: </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <input 
                            [(ngModel)]="bmonth" 
                            class="form-control" 
                            type="month" 
                            (change)="onMonthChange($event.target.value)"
                            [min]="minMonth" 
                            [max]="maxMonth" 
                            placeholder="Select Month">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fa fa-coins"></i>
                  </div>
                </div>
              </div>
              <h5 class="card-title text-uppercase text-muted mb-0">Total Balance</h5>
                  <span class="h2 font-weight-bold mb-0">{{totalbalance}}</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              
              <div class="row">
                <div class="col-8">
                  <div class="mt-3 mb-0 text-muted text-sm">
                    <div class="form-group">
                      <label class="form-control-label" for="input-createdby">Date: </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <input 
                            [(ngModel)]="emonth" 
                            class="form-control" 
                            type="month" 
                            (change)="oneMonthChange($event.target.value)"
                            [min]="minMonth" 
                            [max]="maxMonth" 
                            placeholder="Select Month">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fa fa-rupee-sign"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p> [defaultExcelExportParams]="defaultExcelExportParams"-->
              <h5 class="card-title text-uppercase text-muted mb-0">Total Expenses</h5>
                  <span class="h2 font-weight-bold mb-0">{{totalexpense}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-xl-0">
      <div class="card bg-gradient-primary shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-6">
              <h6 class="text-uppercase text-white ls-1 mb-1">Check Expense By Employee Id</h6>
              <h2 class="text-white mb-0">Expenses</h2>
            </div>
            <div *ngIf="expbtn===true" class="col-6 text-right">
              <button id="exportButton" class="btn btn-warning" (click)="expclick()">
                Export to Excel</button>
            </div>
          </div>
        </div>
        <div class="card-body bg-secondary">
            <div class="row">
              <div class="col">
            <div class="form-group">
              <label class="form-control-label " for="input-project">Employee: &nbsp;</label>
            <div class="dropdown label" style="width: 300px !important;">
              <input 
                type="text" 
                placeholder="Search Employee" 
                [(ngModel)]="searchQuery" 
                (focus)="showDropdown = true" 
                (input)="filterEmployees('searchQuery', 'filteredEmployees')" 
                (blur)="hideDropdown('showDropdown')" 
                class="search-input"
              />
              <!-- Add a clear button -->
              <span *ngIf="searchQuery" class="clear-btn" (click)="clearSearch()">
                &times;
              </span>
              <div class="dropdown-list" *ngIf="showDropdown">
                <div 
                  *ngFor="let emp of filteredEmployees" 
                  (click)="selectEmployee(emp._id, emp.firstname, emp.empNo, emp.status)" 
                  class="dropdown-item"
                >
                {{emp.empNo}} : {{emp.firstname}}

                </div>
              </div>
            </div>
            </div>
          </div>
              <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="input-createdby">From Date: </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <input [(ngModel)]="fdate" class="datepicker form-control" type="date" (change)="getexpenses()" placeholder="Select Date..">
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label" for="input-createdby">To Date: </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <input [(ngModel)]="tdate" class="datepicker form-control" type="date" (change)="getexpenses()" placeholder="Select Date..">
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-control-label text-dark" >Type:  &nbsp;</label>
          <select (change)="getexpenses()" [(ngModel)]="type" class="btn btn-pill"
                      style="background: white;padding:4px !important">
                      <option value="undefined" disabled selected>Select Type</option>
                      <option>Approved</option>
                      <option>UnApproved</option>
                      <option>Rejected</option>
          </select>
            </div>
          </div>
          </div>
            <!-- //class="ag-theme-quartz" -->
        <ag-grid-angular class="ag-theme-quartz" 
        style="width: 100%; height: 300px;" [columnDefs]="colDefs" [gridOptions]="gridOptions"
        [rowData]="rowData" [pagination]="true" [autoSizeStrategy]="autoSizeStrategy" (cellClicked)="onCellClicked($event)" 
        [suppressExcelExport]="true">
        </ag-grid-angular>
      </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card bg-gradient-primary shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-white ls-1 mb-1">Update Balance</h6>
              <h2 class="text-white mb-0">Add Balance</h2>
            </div>
          </div>
        </div>
        <div class="card-body bg-secondary">
          <!-- <div class="form-group">
            <label class="form-control-label text-dark" >Employee:  &nbsp;</label>
        <select (change)="onemplvalueChange()" [(ngModel)]="emplId" class="btn btn-pill"
                    style="background: white;padding:4px !important">
                    <option value="undefined" disabled selected>Select Employee</option>
                    <option *ngFor="let emp of empres" [value]="emp._id">{{emp.empNo}} : {{emp.firstname}}</option>
        </select>
          </div>           -->
          <div class="col">
          <div class="form-group">
            <label class="form-control-label " for="input-project">Employee: &nbsp;</label>
          <div class="dropdown label">
            <input 
              type="text" 
              placeholder="Search Employee" 
              [(ngModel)]="searchQuery1" 
              (focus)="showDropdown1 = true" 
              (input)="filterEmployees('searchQuery1', 'filteredEmployees1')" 
              (blur)="hideDropdown('showDropdown1')" 
              class="search-input"
              />
              <!-- Add a clear button -->
              <span *ngIf="searchQuery1" class="clear-btn" (click)="clearSearch1()">
                &times;
              </span>
            <div class="dropdown-list" *ngIf="showDropdown1">
              <div 
                *ngFor="let emp of filteredEmployees1" 
                (click)="getbalbyId(emp._id,emp.firstname, emp.empNo)" 
                class="dropdown-item"
              >
              {{emp.empNo}} : {{emp.firstname}}

              </div>
            </div>
          </div>
          </div>
          <div *ngIf="nobal===false">
            <label class="form-control-label text-dark">Available Balance: {{empbalamt}}</label>
          </div>
          <div *ngIf="nobal===true">
            <label class="form-control-label text-dark">Bal Not Yet Updated</label>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="text-dark"><b>Add</b></th>
                  <th scope="col" class="text-dark"><b>Amount</b></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                          <label class="text-dark" style="font-weight: bold;" for="input-balance">Balance</label>
                  </td>
                  <td>
                          <input [(ngModel)]="balanceamt" type="number" id="input-balance" class="" placeholder="Add Balance" >
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center">
              <button title="add-balance" class="btn btn-success my-4" ng-model="submit" (click)="addbalance()">
                Submit</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card bg-gradient-primary shadow">
        <div class= "card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-6">
              <h6 class="text-uppercase text-white ls-1 mb-1">Check Expense By Project</h6>
              <h2 class="text-white mb-0">Expenses</h2>
            </div>
            <!-- <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3">
                    <span class="d-none d-md-block">{{ test | date: "dd/MM/yyyy" }} </span>
                  </a>
                </li>
              </ul>
            </div> -->
            <div *ngIf="projbtn===true" class="col-6 text-right">
              <button id="exportButton" class="btn btn-warning" (click)="projclick()">
                Export to Excel</button>
            </div>
          </div>
        </div>
        <div class="card-body bg-secondary">
          <!-- Chart [defaultExcelExportParams]="defaultExcelExportParamsProj" -->
          <!-- <div class="form-group">
            <label class="form-control-label" for="input-employee">Project:  </label>
        <select (change)="onprojvalueChange()" [(ngModel)]="expprojectId" class="btn btn-pill"
                    style="background: white;padding:4px !important;margin-left:10px;">
                    <option value="undefined" disabled selected>Select Project</option>
                    <option *ngFor="let emp of projectresponse" [value]="emp.projectNumber">{{emp.projectNumber}} : {{emp.projectName}}</option>
        </select>
          </div> -->
          <div class="form-group">
            <label class="form-control-label " for="input-project">Project: &nbsp;</label>
          <div class="dropdown label" style="width: 100% !important;">
            <input 
              type="text" 
              placeholder="Search Project" 
              [(ngModel)]="searchProject" 
              (focus)="showprojDropdown = true" 
              (input)="filterProjects()" 
              (blur)="hideProjDropdown()" 
              class="search-input"
              />
              <!-- Add a clear button -->
              <span *ngIf="searchProject" class="clear-btn" (click)="clearProject()">
                &times;
              </span>
            <div class="dropdown-list" *ngIf="showprojDropdown">
              <div 
                *ngFor="let proj of filteredProjects" 
                (click)="onprojChange(proj._id, proj.projectNumber, proj.projectName)" 
                class="dropdown-item"
              >
              {{proj.projectNumber}} : {{proj.projectName}}

              </div>
            </div>
          </div>
          </div>
          <ag-grid-angular class="ag-theme-quartz"
        style="width: 100%; height: 300px;" [columnDefs]="colDefsProj"
        (cellClicked)="onCellClicked($event)" [gridOptions]="gridOptionsProj" (gridReady)="onGridReady($event)"
        [rowData]="rowDataProj" [pagination]="true"  [autoSizeStrategy]="autoSizeStrategy">
        </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card bg-gradient-primary shadow">
        <div class= "card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-xl-6">
              <h6 class="text-uppercase text-white ls-1 mb-1">Check Employee Updates</h6>
              <h2 class="text-white mb-0">Balance, Gratuity & Bonus</h2>
            </div>
            <div class="col-xl-4 text-right">
              <button id="exportBtn" class="btn btn-info" (click)="allempbalclick()">
                Export All Employee Bal to Excel</button>
            </div>
            <div *ngIf="empbtn===true" class="col-xl-2 text-right">
              <button id="exportButton" class="btn btn-warning" (click)="empclick()">
                Export to Excel</button>
            </div>
          </div>
        </div>
        <div class="card-body bg-secondary">
          <!-- Chart [defaultExcelExportParams]="defaultExcelExportParamsEmp" -->
          <!-- <div class="form-group">
            <label class="form-control-label">Employee: </label>
        <select (change)="onempChange()" [(ngModel)]="empselected" class="btn btn-pill"
                    style="background: white;padding:4px !important;margin-left:10px;">
                    <option value="undefined" disabled selected>Select Employee</option>
                    <option *ngFor="let emp of empres" [value]="emp._id">{{emp.empNo}} : {{emp.firstname}}</option>
        </select>
          </div> -->
          <div class="form-group">
            <label class="form-control-label " for="input-project">Employee: &nbsp;</label>
          <div class="dropdown label" style="width: 300px !important;">
            <input 
              type="text" 
              placeholder="Search Employee" 
              [(ngModel)]="searchQuery2" 
              (focus)="showDropdown2 = true" 
              (input)="filterEmployees('searchQuery2', 'filteredEmployees2')" 
              (blur)="hideDropdown('showDropdown2')" 
              class="search-input"
              />
              <!-- Add a clear button -->
              <span *ngIf="searchQuery2" class="clear-btn" (click)="clearSearch2()">
                &times;
              </span>
            <div class="dropdown-list" *ngIf="showDropdown2">
              <div 
                *ngFor="let emp of filteredEmployees2" 
                (click)="onempChange(emp._id,emp.firstname, emp.empNo)" 
                class="dropdown-item"
              >
              {{emp.empNo}} : {{emp.firstname}}

              </div>
            </div>
          </div>
          </div>
          <ag-grid-angular class="ag-theme-quartz"
        style="width: 100%; height: 300px;" [columnDefs]="colDefsEmp" [gridOptions]="gridOptionsEmp"
         [autoSizeStrategy]="autoSizeStrategy"
        [rowData]="rowDataEmp" [pagination]="true">
        </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>

