.ag-theme-alpine .custom-group-header {
    display: flex;
    align-items: center;
  }
  
  .ag-theme-alpine .custom-group-header .group-expand-btn {
    margin-right: 5px;
    cursor: pointer;
  }
  
  .ag-theme-alpine .custom-group-header .group-expand-btn::after {
    content: '+';
  }
  
  .ag-theme-alpine .custom-group-header.collapsed .group-expand-btn::after {
    content: '-';
  }
  .label {
    color: #525f7f;
      font-size: 0.875rem;
      font-weight: 600;
  }
  
  .dropdown {
    position: relative;
    width: 200px;
    z-index: 999; /* Adjust width as needed */
  }
  
  .dropdown-list {
    position: absolute;
    background: #f7fafc;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 200px; /* Limit height */
    overflow-y: auto; /* Scroll if needed */
    z-index: 1000; /* Ensure it is above other content */
  }
  
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
    border-bottom: 1px solid #e0e0e0; /* Add separator line */
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1; /* Change background color on hover */
  }

  .search-input {
    width: 100%;
    padding: 8px 32px 8px 12px; /* Add padding to make space for the X button */
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .clear-btn {
    position: absolute;
    top: 50%;
    right: 8px; /* Distance from the right side of the input */
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #000;
    background: none;
    border: none;
    line-height: 1;
  }
  
  .clear-btn:hover {
    color: red;
  }
  